.rotateImage {
  position: absolute;
  margin-top: 3vw;
  /* left: 30%; */
  margin-left: -90px;
}
.customPadding {
  padding: 0px 0px 15.219vw 0px;
}

.lastRowCustomPadding {
  padding: 0px 0px 10vw 0px;
}

.consumerSpacing {
  height: 30vw;
}

.bg-black {
  background-color: #000000;
}
.consumerPadding {
  padding-top: 10vw;
}
.whiteColor {
  color: #fff;
}

.textPadding {
  padding: 13vw 0px 0px 7.344vw;
}

.customTopPadding {
  padding-top: 22vw;
  padding-bottom: 22vw;
}

.fontGrand {
  font-size: 5vw;
}
.orange-color {
  color: #f68b1e;
}
.costPadding {
  padding: 19vw 0px 0px 15vw;
  font-size: 33px;
}
.consumer-section__heading {
  color: #ffffff;
  font-weight: bold;
  font-size: 4.688vw;
  line-height: 5.469vw;
  text-align: center;
  padding: 0px 0px 10.219vw 0px;
  margin-bottom: 0px;
}
.steps-title {
  font-weight: 900;
  font-size: 1.563vw;
  line-height: 5.469vw;
  text-align: center;
  /* color: #636265; */
  color: #000000;
  text-transform: uppercase;
  padding-top: 2vw;
  padding-bottom: 2.031vw;
}

.searchImg {
  height: 35px !important;
}

@media (max-width: 767px) {
  .rotateImage {
    position: absolute;
    margin-top: 10vw;
    left: 33%;
    width: 150px;
    /* top: 2%; */
  }

  .h3-section {
    padding: 0px;
    margin: 0px;
    color: #ffffff;
  }
  .textPadding {
    padding-top: 18vw;
  }
  .fontGrand {
    font-size: 6vw;
  }
  .costPadding {
    font-size: 10px;
    padding-top: 25vw;
  }
  .imgResize img {
    height: 80px;
    width: 80px;
  }
}
@media (max-width: 425px) {
  .rotateImage {
    left: 30%;
    width: 150px;
  }
}
/* @media (max-width: 1920px) {
    .rotateImage {
      left: 35%;
      margin-top: 7vw;
      width: 550px;
    }
  } */
@media (min-width: 768px) {
  .rotateImage {
    left: 30%;
    margin-top: 7vw;
    width: 250px;
  }
}

@media (min-width: 1024px) {
  .rotateImage {
    margin-top: 7vw;
    left: 30%;
    width: 350px;
  }
}
@media (min-width: 1440px) {
  .rotateImage {
    margin-top: 7vw;
    left: 32%;
    width: 450px;
  }
}
@media (max-width: 420px) {
  .whiteColor {
    color: #fff;
    font-size: 10px;
  }
}

.dollar {
  animation: spin 2s;
}

@keyframes spin {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(6.284rad);
  }
}
